## -*- coding: utf-8 -*-
<%namespace name="core" file="/core.mako"/>

<%core:add_css name="admin/two_column"/>
<%core:add_css name="admin/header"/>

<div id="upper_menu" class="outer">
  <ul>
    <li><a href="/admin/ad_list">Anuncios</a><li/>
    <li><a href="/admin/product_list">Productos</a><li/>
    <li><a href="/admin/user_list">Usuarios</a><li/>
  </ul>
</div>

<div id="global_info_bar" class="column_container">
  <div class="column main">
    Usuario: ${user["name"]}
  </div>
  <div class="column left">
    <!--<img src="/img/logo-small.png" class="logo"/>-->
    <a href="/">Mis-Pelis</a>
  </div>
</div>

