## -*- coding: utf-8 -*-
<%inherit file="order.html"/>
<%namespace name="core" file="/core.mako"/>
<%core:add_css name="admin/lists"/>
<%core:add_js name="dataTables/jquery.dataTables.min"/>
<%core:add_js name="table"/>
<%core:add_code>
  var table = $( "#order_list" );
  table.table( {
    "menu": ".toolbar_menu",
    "tableOptions": {
      "sAjaxSource": "/admin/order_list_elements",
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [2] }
      ]
    }
  } );

  $( "a[href='details']" ).click( function( event ) {
    event.preventDefault();
    var row = table.selectedRow();
    if ( row != null ) {
      window.location = "/admin/order_view?id=" + row.find( "a" ).attr( "id" );
    }
  } );

  $( "a[href='send']" ).click( function( event ) {
    event.preventDefault();
    var row = table.selectedRow();
    if ( row != null ) {
      var item = row.find( "a" );
      var title = item.text();
      var ok = confirm( "¿Está seguro de haber enviado esta orden?" );
      if ( ok ) {
        $.ajax( {
          type: "post",
          dataType: "json",
          url: "/services/order_send",
          data: { id: parseInt( item.attr( "id" ) ) },
          cache: false,
          success: function( ok ) {
            if ( ok ) {
              table.dataTable().fnDraw();
            } else {
              alert( "Problema al marcar la orden como enviada" );
            }
          }
        } );
      }
    }
  } );

  $( "a[href='inventory']" ).click( function( event ) {
    event.preventDefault();
    var row = table.selectedRow();
    if ( row != null ) {
      window.location = "/admin/inventory_edit?id=new&order_id=" + row.find( "a" ).attr( "id" );
    }
  } );
</%core:add_code>
<ul class="toolbar_menu">
  <li><a href="details"  class="details">Consultar</a></li>
  <li><a href="send" class="send">Marcar como enviado</a></li>
</ul>
<div class="list">
  <h1>Lista de órdenes</h1>
  <table id="order_list">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Items</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
