## -*- coding: utf-8 -*-
<%inherit file="product.html"/>
<%namespace name="core" file="/core.mako"/>
<%core:add_css name="dataTables/table"/>
<%core:add_js name="dataTables/jquery.dataTables.min"/>
<%core:add_code>
  $( "#product_list" ).dataTable( {
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "/admin/product_pager",
    "oLanguage": 
      {
        "sSearch"      : "Buscar",
        "sLengthMenu"  : "Mostrar _MENU_ elementos",
        "sZeroRecords" : "Lo siento, no hay elementos correspondientes",
        "sInfo"        : "Mostrando de _START_ a _END_ de _TOTAL_ elementos",
        "sInfoEmpty"   : "Mostrando 0 elementos",
        "sInfoFiltered": "(filtrados de un total de _MAX_ registros)"
    },
    "sDom": 'frl<"toolbar">tip'
  } );
  $( "div.toolbar" ).append( $( "#toolbar_menu" ) );
  $( "#product_list tbody tr" ).live( "click", function( e ) {
    $( "#product_list tr.selected" ).removeClass( "selected" );
    $( this ).addClass( "selected" );
  } );

</%core:add_code>
<ul id="toolbar_menu">
  <li><a href="#">Editar</a></li>
  <li><a href="#">Borrar</a></li>
</ul>
<div class="list">
  <h1>Lista de productos</h1>
  <table id="product_list">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Reparto</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
