## -*- coding: utf-8 -*-
<%inherit file="product.html"/>
<%namespace name="core" file="/core.mako"/>
<%core:add_css name="admin/lists"/>
<%core:add_js name="dataTables/jquery.dataTables.min"/>
<%core:add_js name="table"/>
<%core:add_code>
  var table = $( "#product_list" );
  table.table( {
    "menu": ".toolbar_menu",
    "tableOptions": {
      "sAjaxSource": "/admin/product_list_elements",
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [2] }
      ]
    }
  } );

  $( "a[href='edit']" ).click( function( event ) {
    event.preventDefault();
    var row = table.selectedRow();
    if ( row != null ) {
      window.location = "/admin/product_edit?id=" + row.find( "a" ).attr( "id" );
    }
  } );

  $( "a[href='delete']" ).click( function( event ) {
    event.preventDefault();
    var row = table.selectedRow();
    if ( row != null ) {
      var item = row.find( "a" );
      var title = item.text();
      var ok = confirm( "¿Está seguro de borrar '" + title + "'?" );
      if ( ok ) {
        $.ajax( {
          type: "post",
          dataType: "json",
          url: "/services/product_delete",
          data: { id: parseInt( item.attr( "id" ) ) },
          cache: false,
          success: function( ok ) {
            if ( ok ) {
              table.dataTable().fnDraw();
            } else {
              alert( "Problema al borrar '" + title + "'" );
            }
          }
        } );
      }
    }
  } );

  $( "a[href='inventory']" ).click( function( event ) {
    event.preventDefault();
    var row = table.selectedRow();
    if ( row != null ) {
      window.location = "/admin/inventory_edit?id=new&product_id=" + row.find( "a" ).attr( "id" );
    }
  } );
</%core:add_code>
<ul class="toolbar_menu">
  <li><a href="edit"  class="edit">Editar</a></li>
  <li><a href="delete" class="delete">Borrar</a></li>
  <li><a href="inventory" class="inventory">Existencias</a></li>
</ul>
<div class="list">
  <h1>Lista de productos</h1>
  <table id="product_list">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Año</th>
        <th>Director(es)</th>
        <th>Existencia</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
