form.main_form h1 {
  font-size: 14px;
  color: #A40000;
}
form.main_form {
  text-align: left;
}

form.main_form input.button {
  float: right;
  margin: 10px 0px 0px 5px;
}

.main_form table {
  border-collapse: collapse;
}

.main_form tr.field {
  border: 1px solid #BABDB6;
}

.main_form tr.field:nth-child( odd ) {
  background-color: #EEEEEC;
}

.main_form tr.field:nth-child( pair ) {
  background-color: #FFFFFF;
}

.main_form td {
  vertical-align: top;
  padding: 5px 20px 10px 5px;
}

.main_form td.label {
  font-weight: bold;
  background-color: #D3D7CF;
  color: #2E3436;
  width: 150px;
}

.main_form td.field {
  width: 350px;
}

.main_form tr.error td.label {
  background-color: #EF2929;
  color: #EEEEEC;
}

.main_form tr.error td.field {
  background-color: #FFF;
}

.main_form ul.error {
  color: #A40000;
  list-style: disc inside none;
}

.main_form td div.help {
  text-align: left;
  font-style: italic;
  font-size: 12px;
}

.main_form td.field input {
  width: 100%;
}

.main_form td.field select {
  width: 100%;
}


.main_form td.field button {
  width: 100%;
}

.main_form input {
  color: #233436;
  font-style: none;
}

.main_form input.hint {
  color: #D3D7CF;
  font-style: italic;
}

.main_form ul {
  list-style: none;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.main_form ul.items li {
  line-height: 30px;
}

.main_form ul.items li:nth-child( odd ) {
  background: #FCF197;
}

.main_form ul.items li:nth-child( pair ) {
  background: #EEEEEC;
}

.main_form ul.items button {
  width: 30px;
  padding: 0px;
  text-align: center;
  float: right;
}

.main_form ul.items img {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.main_form ul.items input {
  width: 290px;
  background: none;
  border: none;
}

.main_form button.images {
  height: 25px;
  margin-bottom: 10px;
}
.main_form table.images {
  margin: 5px 0px 5px 10px;
}

.main_form table.images tr:nth-child( odd ) {
  background: #FCF197;
}

.main_form table.images tr:nth-child( pair ) {
  background: #EEEEEC;
}

.main_form table.images input {
  width: 20px;
  float: left;
  display: inline;
}

.main_form table.images span {
  float: left;
  display: inline;
}

.main_form table.images td {
  vertical-align: middle;
}

.main_form table.images td.thumbnail {
  width: 200px;
}

.main_form table.images td.checkbox {
  width: 100px;
}

.main_form table.images img.thumbnail {
  max-height: 35px;
  max-width: 150px;
  vertical-align: middle;
}

#imgPreviewWithStyles {
  background: #FFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 5px;
  z-index: 999;
  border: solid 2px #BABDB6;
}
