h1 {
  font-size: 14px;
  color: #A40000;
}

dt {
  float: left;
  width: 150px;
  font-weight: bold;
  font-style: italic;
  color: #555753;
}

dd {
  margin-left: 10px;
  margin-bottom: 10px;
}

.block {
  display: inline-block;
}

th, tfoot td {
  font-weight: bold;
  font-style: italic;
  color: #555753;
}

tbody td {
  text-align: center;
}
  
