h1 {
  font-size: 24px;
  color: #A40000;
}

div.items {
  float: left;
}

div.extra_info {
  float: left;
  width: 300px;
  margin-left: 10px;
}

.numbering em {
  color: #555753;
  font-size: 10pt;
  font-style: normal;
}

.items .price {
  color: #A40000;
  text-align: center;
}

.price em {
  font-size: 14pt;
}

.fixed_200 {
  width: 150px;
}

.fixed_100 {
  width: 100px;
}

.items table {
  border-collapse: collapse;
  width: 650px;
  color: #2E3436;
  margin-bottom: 40px;
}

.items table input {
  width: 50px;
}

.items thead {
  background: #FFC0C0;
  color: #A40000;
  padding: 5px 10px;
}

.items thead th {
  text-align: center;
}

.items tbody {
  vertical-align: top;
}

.items tbody td {
  padding: 10px;
}

.items tbody tr {
  border-bottom: dotted 1px #2E3436;
}

.items ul.description {
  list-style: none;
  float: left;
}

.items ul.description li {
  border-bottom: none;
  margin: 3px 0px 0px 0px;
  padding: 0px;
}

.items ul.description a {
  text-decoration: none;
  color: #204A87;
}

.items ul.description a:hover {
  text-decoration: underline;
  color: #204A87;
}

.items ul.description .title {
  font-size: 12pt;
}

.items ul.description .media {
  color: #555753;
}

div.summary {
  display: inline-block;
  text-align: center;
  float: left;
  background: #CBDBED;
  min-height: 120px;
  min-width: 250px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.summary dt {
  float: left;
}

div.summary dd {
  float: left;
  margin-left: 10px;
}

div.summary dt.subtotal {
  font-weight: bold;
  color: #204A87;
}

div.summary button {
  margin-top: 10px;
}
