ul.genre-menu {
  list-style:  none;
  padding-left: 0px;
  margin-bottom: 20px;
}

.genre-menu li {
  border-bottom: 1px dotted #888A85;
  line-height: 20pt;
}

.genre-menu a {
  color: #BABDB6;
  text-decoration: none;
}

.genre-menu a:hover {
  color: #2E3436;
  text-decoration: underline;
}

.genre-menu li:after {
  content: ">";
  float: right;
  color: #BABDB6;
}
