#header {
  padding: 10px 30px;
  color: #888A85;
}

#header .logo {
  display: inline;
  margin-right: 40px;
}

#header a {
  color: #2E3436;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#header .help {
  float: right;
  vertical-align: 9px;
}

#header .text {
  display: inline;
  vertical-align: 9px;
}
