#header-top {
  width: 1024px;
  background: url(/img/top.png) no-repeat center top;
  min-height: 10px;
}

#header .logo {
  display: inline;
  margin-right: 20px;
}

#header a {
  color: #CE5C00;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#header .help {
  float: right;
  vertical-align: 9px;
}

#header .text {
  display: inline;
  vertical-align: 9px;
}
