.ratings {
  display: inline-block;
  overflow: hidden;
}

.ratings .undone, .ratings .fade {
  background: url( "/img/star-empty.png" ) no-repeat;
  width: 9px;
  display: block;
  height: 9px;
  float: left;
  margin-right: 2px;
  text-indent: -99999px;
}

.ratings_count {
  color: #204A87;
}

.ratings .done{
  background: url( "/img/star-full.png" ) no-repeat;
  width: 9px;
  display: block;
  height: 9px;
  float: left;
  margin-right: 2px;
  text-indent: -99999px;
}

.ratings_edit span.undone:hover{
  background: url( "/img/star-full.png" ) no-repeat;
}

div.rating_container {
  display: inline;
}

.rating_list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.rating_list li a {
  color: #3465A4;
  text-decoration: none;
}

.rating_list li a:hover {
  text-decoration: underline;
}

