div.recommendation {
  clear: both;
}

.recommendation h2 {
  color: #A40000;
  border-bottom: solid 4px;
}
.recommendation table {
  width: 100%;
  text-align: left;
}

.recommendation table td {
  text-align: center;
  vertical-align: top;
}

.recommendation table ul {
  list-style: none;
  padding: 0px;
}

.recommendation table li.title {
  color: #3465A4;
}

.recommendation li.title a {
  color: #3465A4;
  text-decoration: none;
}

.recommendation li.title a:hover {
  text-decoration: underline;
}

.recommendation table li.price {
  color: #CC0000;
}

