## -*- coding: utf-8 -*-
<%namespace name="core" file="core.mako"/>

<%core:add_css name="genre_menu"/>

<ul class="genre-menu">
  <li><a href="/search_results">Novedades</a></li>
  <li><a href="/search_results">Acción</a></li>
  <li><a href="/search_results">Animación</a></li>
  <li><a href="/search_results">Aventura / Fantasía</a></li>
  <li><a href="/search_results">Bélicas</a></li>
  <li><a href="/search_results">Ciencia ficción</a></li>
  <li><a href="/search_results">Comedia</a></li>
  <li><a href="/search_results">Drama</a></li>
  <li><a href="/search_results">Infantiles</a></li>
  <li><a href="/search_results">Musical</a></li>
  <li><a href="/search_results">Romance</a></li>
  <li><a href="/search_results">Series</a></li>
  <li><a href="/search_results">Terror</a></li>
  <li><a href="/search_results">Otros</a></li>
</ul>
