## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<div id="header">
  <img src="/img/logo.png" class="logo"/>
  <div id="recommendations" class="header-text">
    Hola Enrique <a href="#">recomendaciones para ti</a>  (¿no eres Enrique?)
  </div>
  <a href="#" class="header-help"><img src="/img/help.png"> Ayuda</a>
</div>
<div id="searchbar" class="redgradient">
  <div class="searchbox">
    <form>
      <input type="text" class="text"/>
      <input type="submit" value="" class="button"/>
    </form>
  </div>
</div>
<div id="container">
  <div id="center" class="column">
    <img src="/img/test/serbian.png"/>
  </div>
  <div id="left" class="column">
    <ul class="genre-menu">
      <li><a href="#">Novedades</a></li>
      <li><a href="#">Acción</a></li>
      <li><a href="#">Animación</a></li>
      <li><a href="#">Aventura / Fantasía</a></li>
      <li><a href="#">Bélicas</a></li>
      <li><a href="#">Ciencia ficción</a></li>
      <li><a href="#">Comedia</a></li>
      <li><a href="#">Drama</a></li>
      <li><a href="#">Infantiles</a></li>
      <li><a href="#">Musical</a></li>
      <li><a href="#">Romance</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">Terror</a></li>
      <li><a href="#">Otros</a></li>
    </ul>
  </div>
  <div id="right" class="column">
    right
  </div>
</div>
<div class="indent1">
  <div class="recommendation">
    <h2>RECOMENDACIONES PARA USTED</h2>
    <table class="recommendation">
      <tr>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
        <td>
          <img src="/img/test/cover1.jpg"/>
          <ul>
            <li class="title">La burla del diablo</li>
            <li>Gina Lollobrigida</li>
            <li>Jenifer Jones</li>
            <li class="price">$4.99</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="footer">
  <ul>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Condidencialidad</a></li>
    <li><a href="#">Conócenos</a></li>
    <li><a href="#">Términos y condiciones de uso</a></li>
  </ul>

  <p>
    Lea los <a href="#">Términos y Condiciones de Uso</a> de Hatajo.com, ya 
    que el uso de este sitio implica que usted acepta los mismos.
  </p>
</div>

