## -*- coding: utf-8 -*-
<%inherit file="base_administration.html"/>
<%namespace name="core" file="core.mako"/>
<%namespace name="forms" file="forms.mako"/>
<%core:add_css name="two_columns"/>
<%core:add_css name="custom-theme/jquery-ui-1.8.17.custom"/>
<%core:add_css name="forms"/>
<%core:add_js name="jquery-ui-1.8.17.custom.min"/>
<%core:add_js name="forms"/>

<div id="column_container">
  <div id="center" class="column">
    <form class="main_form" action="product_edit" method="post">
      <h1>Datos del producto</h1>
      <input type="hidden" id="id" name="id" value="${id}"/>
      <table cellpadding="0" cellspacing="0">
        <%forms:multi_catalog
          field="actors"
          catalog="actors"
          label="Actor(es)"
          tabindex="1"
          hint="agregue un actor">
          $( "#add_actors" ).focus();
        </%forms:multi_catalog>
        <%forms:multi_catalog
          field="directors"
          catalog="directors"
          label="Director(es)"
          tabindex="2"
          hint="agregue un director"/>
        <%forms:catalog
          field="format"
          catalog="formats"
          hint="escriba un formato"
          tabindex="3"
          label="Formato"/>
        <%forms:catalog
          field="language"
          catalog="languages"
          hint="escriba un idioma"
          tabindex="4"
          label="Idioma"/>
        <%forms:catalog
          field="subtitles"
          catalog="subtitles"
          hint="escriba un idioma de subtítulos"
          tabindex="4"
          label="Subtítulos"/>
        <%forms:catalog
          field="region"
          catalog="regions"
          hint="escriba una región"
          tabindex="5"
          label="Región"/>
        <%forms:text_field
          field="item_count"
          label="No. de discos"
          tabindex="6"
          hint="escriba el número de discos"/>
        <%forms:catalog
          field="age_rating"
          catalog="age_ratings"
          hint="escriba una clasificación"
          tabindex="7"
          label="Clasificación"/>
        <%forms:catalog
          field="studio"
          catalog="studios"
          hint="escriba un estudio"
          tabindex="8"
          label="Estudio"/>
        <%forms:catalog
          field="media"
          catalog="medias"
          hint="escriba un tipo de medio"
          tabindex="9"
          label="Medio"/>
        <%forms:text_field
          field="duration"
          label="Duración"
          tabindex="10"
          hint="escriba la duración de la película"/>
        <%forms:text_field
          field="rtc"
          label="RTC"
          tabindex="11"
          hint="escriba el código RTC del producto"/>
        <%forms:text_field
          field="bar_code"
          label="Código de barras"
          tabindex="12"
          hint="escriba el código de barras del producto"/>
        <tr class="buttons">
          <td colspan="2">
            <input type="submit" tabindex="13" value="Enviar" class="button"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div id="left" class="column">
    <%include file="genre_menu.html"/>
  </div>
</div>
