## -*- coding: utf-8 -*-
<%inherit file="base_administration.html"/>
<%namespace name="core" file="core.mako"/>
<%core:add_css name="two_columns"/>
<%core:add_css name="dataTables/table"/>
<%core:add_js name="dataTables/jquery.dataTables.min"/>
<%core:add_code>
  $( "#product_list" ).dataTable( {
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "/product_support",
    "oLanguage": 
      {
        "sSearch"      : "Buscar",
        "sLengthMenu"  : "Mostrar _MENU_ elementos por página",
        "sZeroRecords" : "Lo siento, no hay elementos correspondientes",
        "sInfo"        : "Mostrando de _START_ a _END_ de _TOTAL_ elementos",
        "sInfoEmpty"   : "Mostrando 0 elementos",
        "sInfoFiltered": "(filtrados de un total de _MAX_ registros)"
      }
  } );
</%core:add_code>

<div id="column_container">
  <div id="center" class="column">
    <table id="product_list">
      <thead>
        <tr>
          <td>Número</td>
          <td>Letra</td>
          <td>Booleano</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="left" class="column">
    <%include file="genre_menu.html"/>
  </div>
</div>
