## -*- coding: utf-8 -*-
<%namespace name="core" file="core.mako"/>
<%!
def main_image( product ):
  for i in xrange( len( product["images"]["ids"] ) ):
    if product["images"]["values"][i]:
      return "/load_image?id=%i" % product["images"]["ids"][i]
  return "#"
%>

<div class="recommendation">
  <h2>${data["title"]}</h2>
  <table class="recommendation">
    <tr>
      %for p in data["elements"][:5]:
      <td>
        <a href="/film_info?id=${p["id"]}"><img src="${main_image( p )}"/></a>
        <ul>
          <li class="title"><a href="/film_info?id=${p["id"]}">${p["name"]}</a> ( Titulo original )</li>
          %for a in p["actors"]["values"][:2]:
          <li>${a}</li>
          %endfor
          <li class="price">$4.99</li>
        </ul>
      </td>
      %endfor
    </tr>
  </table>
</div>
