## -*- coding: utf-8 -*-
<%namespace name="core" file="core.mako"/>

<%core:add_css name="recommendations"/>

<div class="recommendation">
  <h2>RECOMENDACIONES PARA USTED</h2>
  <table class="recommendation">
    <tr>
      <td>
        <a href="/film_info"><img src="/img/test/cover1.jpg"/></a>
        <ul>
          <li class="title"><a href="/film_info">La burla del diablo</a></li>
          <li>Gina Lollobrigida</li>
          <li>Jenifer Jones</li>
          <li class="price">$4.99</li>
        </ul>
      </td>
      <td>
        <a href="/film_info"><img src="/img/test/cover1.jpg"/></a>
        <ul>
          <li class="title"><a href="/film_info">La burla del diablo</a></li>
          <li>Gina Lollobrigida</li>
          <li>Jenifer Jones</li>
          <li class="price">$4.99</li>
        </ul>
      </td>
      <td>
        <a href="/film_info"><img src="/img/test/cover1.jpg"/></a>
        <ul>
          <li class="title"><a href="/film_info">La burla del diablo</a></li>
          <li>Gina Lollobrigida</li>
          <li>Jenifer Jones</li>
          <li class="price">$4.99</li>
        </ul>
      </td>
      <td>
        <a href="/film_info"><img src="/img/test/cover1.jpg"/></a>
        <ul>
          <li class="title"><a href="/film_info">La burla del diablo</a></li>
          <li>Gina Lollobrigida</li>
          <li>Jenifer Jones</li>
          <li class="price">$4.99</li>
        </ul>
      </td>
      <td>
        <a href="/film_info"><img src="/img/test/cover1.jpg"/></a>
        <ul>
          <li class="title"><a href="/film_info">La burla del diablo</a></li>
          <li>Gina Lollobrigida</li>
          <li>Jenifer Jones</li>
          <li class="price">$4.99</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
