## -*- coding: utf-8 -*-
<%namespace name="core" file="/core.mako"/>

<%core:add_css name="public/genre_menu"/>

<ul class="genre-menu">
  <li><a href="/public/search_results">Más Vendidos</a></li>
  <li><a href="/public/search_results">Novedades</a></li>
  <li><a href="/public/search_results?genre=11">Acción</a></li>
  <li><a href="/public/search_results?genre=12">Animación/Anime</a></li>
  <li><a href="/public/search_results?genre=13">Aventura/Fantasía</a></li>
  <li><a href="/public/search_results?genre=14">Ciencia ficción</a></li>
  <li><a href="/public/search_results?genre=15">Comedia</a></li>
  <li><a href="/public/search_results?genre=16">Drama</a></li>
  <li><a href="/public/search_results?genre=17">Documentales</a></li>
  <li><a href="/public/search_results?genre=18">Infantiles</a></li>
  <li><a href="/public/search_results?genre=19">Musical</a></li>
  <li><a href="/public/search_results?genre=20">Mexicanas</a></li>
  <li><a href="/public/search_results?genre=21">Romance</a></li>
  <li><a href="/public/search_results?genre=22">Series</a></li>
  <li><a href="/public/search_results?genre=23">Terror</a></li>
</ul>
