## -*- coding: utf-8 -*-
<%namespace name="core" file="/core.mako"/>

<%core:add_css name="public/header"/>

<div id="header">
  <a href="/"><img src="/img/logo.png" class="logo"/></a>
  <div class="text">
    % if user:
    Hola ${user["name"].split()[0]} <a href="#">recomendaciones para ti</a>  (<a href="/public/logout">¿no eres ${user["name"].split()[0]}?</a>)
    % else:
    Hola. <a href="/public/login">Conéctese</a> para obtener recomendaciones personalizadas. ¿Nuevo cliente? <a href="/public/login">comience aquí</a>
    % endif
  </div>
  <a href="#" class="help"><img src="/img/help.png"> Ayuda</a>
</div>
