## -*- coding: utf-8 -*-
<%namespace name="core" file="/core.mako"/>
<%! import hatajo.webapp.template_helpers as h %>

% if data["layout"] == "horizontal":
<div class="recommendation">
  <h2>${data["title"]}</h2>
  <table>
    <tr>
      %for p in data["elements"][:5]:
      <td>
        <a href="/public/film_info?id=${p["id"]}"><img src="${h.main_image( p )}"/></a>
        <ul>
          <li class="title"><a href="/public/film_info?id=${p["id"]}">${p["name"]} (${p["year"]})</a></li>
          %for a in p["actors"]["values"][:2]:
          <li>${a}</li>
          %endfor
          <li class="price">$${p["normal_price"]}</li>
        </ul>
      </td>
      %endfor
    </tr>
  </table>
</div>
% else:
<div class="recommendation_vertical">
  <h1>${data["title"]}</h1>
  <table>
    %for p in data["elements"][:5]:
    <tr>
      <td>
        <a href="/public/film_info?id=${p["id"]}"><img src="${h.main_image( p )}"/></a>
      </td>
      <td>
        <ul>
          <li class="title"><a href="/public/film_info?id=${p["id"]}">${p["name"]}</a></li>
          <li>${p["year"]}</li>
          <%core:add_code>
            $( "#r_${p["id"]}" ).ratings( ${int(p["review_avg"])}, false );
          </%core:add_code>
         <li><div id="r_${product["id"]}"></div></li>
          % if len( p["medias"]["values"] ) > 0:
          <li>${p["medias"]["values"][0]}</li>
          % endif
          <li class="price">$${p["normal_price"]}</li>
        </ul>
      </td>
    </tr>
    %endfor
  </table>
</div>
% endif
