## -*- coding: utf-8 -*-
<%namespace name="core" file="/core.mako"/>
<%! import hatajo.webapp.template_helpers as h %>

<div class="recommendation">
  <h2>${data["title"]}</h2>
  <table class="recommendation">
    <tr>
      %for p in data["elements"][:5]:
      <td>
        <a href="/public/film_info?id=${p["id"]}"><img src="${h.main_image( p )}"/></a>
        <ul>
          <li class="title"><a href="/public/film_info?id=${p["id"]}">${p["name"]} (${p["year"]})</a></li>
          %for a in p["actors"]["values"][:2]:
          <li>${a}</li>
          %endfor
          <li class="price">$${p["normal_price"]}</li>
        </ul>
      </td>
      %endfor
    </tr>
  </table>
</div>
